<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/logout">Logout</a>
        <a href="/auth/signUp">Sign Up</a>
    </nav>

    <main>
        <form action="confirmacao" method="post" id="login-form">
            <header class="form-group-top">
                <h3>Formulário de Login</h3>
            </header>
            <div class="form-main-container">
                <div class="alert-message" id="alert-div">
                    <ul id="alert-list">
                    </ul>
                </div>

                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <button type="submit" class="form-btn">Login</button>
            </div>
            

            
        </form>
        
    </main>
    
    <footer></footer>
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
</body>
</html>