<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>

    <nav>
        <div class="nav-left">
            <a href="/" id="Home" >Home</a>
        </div>
        <div class="nav-right">
            <a href="/login" id="Login" >Login</a>
            <a href="/logout" id="Logout" >Logout</a>
            <a href="/signUp" id="signUp" >Sign Up</a>
        </div>
    </nav>

    <main>
        <div class="user-data-container" id="data-div"> 
            <ul id="user-data-ul">

            </ul>
        </div>
    </main>
    
    <footer></footer>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/navbarScript.js') }}"></script>
</body>
</html>