*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin: 8px;
}

.alert-message{
    visibility: hidden;
}
.alert-message ul{
    list-style-position: inside;
}

.alert-message ul li{
    padding: 5px;
    font-size: 15px;
}

.alert-message ul li.error{
    background: red;
    color: black;
    font-weight: bold;
}

.alert-message ul li.success{
    background: green;
    color: black;
    font-weight: bold;
}


main{
    /* background-image: url("../images/background.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: #c4306b;
    height: 100%;
}



form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 40px 400px 10px 400px;
}

.form-group-top{
    background: black;
    text-align: center;
    font-size: 16px;
    color: white;
    
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.form-main-container{
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group{
    margin: 40px 120px 0 120px;
    display: flex;
    justify-content: center;
}

.form-group input{
    padding: 12px 20px;
    outline: transparent;
    background: #c7d7dd;
    border: 0;
    border-bottom: 1px;
    border-radius: 4px;
    width: 100%;
}


.form-btn{
    color: white;
    background: #180118;
    
    padding: 12px 20px;
    margin: 30px 240px;
    height: auto;
    width: auto;

    border: none;
    border-radius: 8px;
    
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}